# Entorno virtual
.venv/
.env
# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
.env
*.key

.gradio/

# Ignorar archivos de metadatos y temporales de punto (e.g. AppleDouble macOS)
**/._*

.agents/

vectors